<html ng-app="coffeeApp">
    <head>
        <style>
        table{    border: 1px solid #CCC;
    border-collapse: collapse;}
        td{text-align: center;
        border:none;
        padding: 2px;}
        .odd {
                color:black;
                background-color:mintcream;
                text-align: center;
    
                }
              .even {
                color:black;
                background-color: wheat;
                text-align: center;
              }</style>
        <meta charset="utf-8">
        <title> Users</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
        <script>
            var coffeeApp = angular.module('coffeeApp', []);
            coffeeApp.controller('CoffeeCtrl', function ($scope, $http){
                //get data from database to populate table
                $http.get("/api/beans/").then(function mySuccess(response) {
                    $scope.beans = response.data;
                    }, function myError(response) {
                        $scope.users = response.statusText;
                    });
                //get call to updat table
                $scope.update= function(){
                    $http.get("/api/beans/").then(function mySuccess(response) {
                    $scope.beans = response.data;
                    }, function myError(response) {
                        $scope.users = response.statusText;
                    });  
                 
                };
                //create new user
                $scope.beanSub = function(){
                    var data =JSON.stringify({
                            CName: $scope.coffeeName,
                            origin: $scope.cOrigin,
                            TNotes: $scope.TNotes,
                            FNotes: $scope.FNotes});
                
                console.log(data);
                $http.post("/api/beans/add",data).success(function(data,status){
                    console.log('bean added successfully');
                    $scope.update();
                     });
                }
            //update user
            $scope.edit = function(bID,bName,bOrigin,bTNotes,bFNotes){
               
                    var data =JSON.stringify({
                            id:bID,
                            CName: bName,
                            origin: bOrigin,
                            TNotes: bTNotes,
                            FNotes: bFNotes});
                            alert(data);
                            $http.post("/api/beans/update/"+bID,data).success(function(data,status){
                    console.log('User updated successfully');});
                    $scope.update();
            }
            //delete user
            $scope.delete = function(bID){
                    alert(bID);
                    var data =JSON.stringify({
                            coffeeID: bID});
                            $http.post("/api/beans/del/"+bID,data).success(function(data,status){
                    console.log('User deleted successfully');});
                    $scope.update();
            }
            });
          </script>    
    </head>
    <body ng-controller="CoffeeCtrl">
        <form>
            Coffee Name:<input type="text" ng-model="coffeeName">
            <br>
            <br>
            Coffee Origin: <input type="text" ng-model="cOrigin">
            <br>
            <br>
            Coffee Tasting Notes: <input type="text" ng-model="TNotes">
            <br>
            <br>
            Coffee Flavor Notes: <input type="text" ng-model="FNotes">
            <br>
            Body:
            <input type="submit" value="submit" ng-click="beanSub()">
            
        </form>
        <table border="0">
            <tr>
                <th>coffeeID</th>
                <th>Coffee Name</th>
                <th>Coffee Origin</th>
                <th>Tasting Notes</th>
                <th>Flavor Notes</th>
            </tr>
            <tr ng-repeat="bean in beans"ng-class-odd="'odd'" ng-class-even="'even'">
                <td>{{bean.coffeeID}}</td>
                <td ><input type="text" ng-model="bean.CName" value={{bean.CName}}></td>
                <td ><input type="text" ng-model="bean.origin" value={{bean.origin}}></td>
                <td ><input type="text" ng-model="bean.TNotes" value={{bean.TNotes}}></td>
                <td ><input type="text" ng-model="bean.FNotes" value={{bean.FNotes}}></td>
                <td><button ng-click="edit(bean.coffeeID,bean.CName,bean.origin,bean.TNotes,bean.FNotes)">Edit</button></td>
                <td><button ng-click="delete(bean.coffeeID)">Delete</button></td>
        </tr>
        </table>
    </body>
</html>