<html ng-app="coffeeApp">
        <head>
            <style>
            table{    border: 1px solid #CCC;
        border-collapse: collapse;}
            td{text-align: center;
            border:none;
            padding: 2px;}
            .odd {
                    color:black;
                    background-color:mintcream;
                    text-align: center;
        
                    }
                  .even {
                    color:black;
                    background-color: wheat;
                    text-align: center;
                  }</style>
            <meta charset="utf-8">
            <title> Users</title>
            <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
            <script>
                var coffeeApp = angular.module('coffeeApp', []);
                coffeeApp.controller('CoffeeCtrl', function ($scope, $http){
                    //get data from database to populate table
        
                    $http.get("/api/brewtypes/").then(function mySuccess(response) {
                        $scope.brews = response.data;
                        }, function myError(response) {
                            $scope.brews = response.statusText;
                        });
                    //get call to updat table
                    $scope.update= function(){
                        $http.get("/api/brewtypes/").then(function mySuccess(response) {
                        $scope.brews = response.data;
                        }, function myError(response) {
                            $scope.brews = response.statusText;
                        });  
                     
                    };
                    //create new user
                    $scope.userSub = function(){
                        var data =JSON.stringify({
                                Bname: $scope.bName});
                    
                    console.log(data);
                    $http.post("/api/brewtypes/add",data).success(function(data,status){
                        console.log('User added successfully');
                        $scope.update();
                         });
                    }
                //update user
                $scope.edit = function(uID,uFname){
                   
                        var data =JSON.stringify({
                                id:uID,
                                Bname: uFname});
                                $http.post("/api/brewtypes/update/"+uID,data).success(function(data,status){
                        console.log('User updated successfully');});
                        $scope.update();
                }
                //delete user
                $scope.delete = function(uID){
                        alert(uID);
                        var data =JSON.stringify({
                                userID: uID});
                                $http.post("/api/brewtypes/del/"+uID,data).success(function(data,status){
                        console.log('User deleted successfully');});
                        $scope.update();
                }
                });
              </script>    
        </head>
        <body ng-controller="CoffeeCtrl">
            <a href="./bean.html"><button>Testing</button></a>
        <button ng-click="getBeans()">Beans</button>
            <form>
                First Name:<input type="text" ng-model="bName">
                <br>
                <br>
                Body:
                <input type="submit" value="submit" ng-click="userSub()">
                
            </form>
            <table border="0">
                <tr>
                    <th>Brew Type ID</th>
                    <th>Brew Type Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr ng-repeat="brew in brews"ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>{{brew.BTypeID}}</td>
                    <td ><input type="text" ng-model="brew.BName" value={{brew.BName}}/></td>
                    <td><button ng-click="edit(brew.BTypeID,brew.BName)">Edit</button></td>
                    <td><button ng-click="delete(brew.BTypeID)">Delete</button></td>
            </tr>
            </table>
        </body>
    </html>