<html ng-app="coffeeApp">
    <head>
        <style>
        table{    border: 1px solid #CCC;
    border-collapse: collapse;}
        td{text-align: center;
        border:none;
        padding: 2px;}
        .odd {
                color:black;
                background-color:mintcream;
                text-align: center;
    
                }
              .even {
                color:black;
                background-color: wheat;
                text-align: center;
              }</style>
        <meta charset="utf-8">
        <title> Users</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
        <script>
            var coffeeApp = angular.module('coffeeApp', []);
            coffeeApp.controller('CoffeeCtrl', function ($scope, $http){
                //get data from database to populate table
                $scope.getBeans = function(){
                    $http.get("/beans");
                }
                $http.get("/api/cousers/").then(function mySuccess(response) {
                    $scope.users = response.data;
                    }, function myError(response) {
                        $scope.users = response.statusText;
                    });
                //get call to updat table
                $scope.update= function(){
                    $http.get("/api/cousers/").then(function mySuccess(response) {
                    $scope.users = response.data;
                    }, function myError(response) {
                        $scope.users = response.statusText;
                    });  
                 
                };
                //create new user
                $scope.userSub = function(){
                    var data =JSON.stringify({
                            Fname: $scope.fName,
                            Lname: $scope.lName});
                
                console.log(data);
                $http.post("/api/cousers/add",data).success(function(data,status){
                    console.log('User added successfully');
                    $scope.update();
                     });
                }
            //update user
            $scope.edit = function(uID,uFname,uLname){
               
                    var data =JSON.stringify({
                            id:uID,
                            Fname: uFname,
                            Lname: uLname});
                            $http.post("/api/cousers/update/"+uID,data).success(function(data,status){
                    console.log('User updated successfully');});
                    $scope.update();
            }
            //delete user
            $scope.delete = function(uID){
                    alert(uID);
                    var data =JSON.stringify({
                            userID: uID});
                            $http.post("/api/cousers/del/"+uID,data).success(function(data,status){
                    console.log('User deleted successfully');});
                    $scope.update();
            }
            });
          </script>    
    </head>
    <body ng-controller="CoffeeCtrl">
        <a href="./bean.html"><button>Testing</button></a>
    <button ng-click="getBeans()">Beans</button>
        <form>
            First Name:<input type="text" ng-model="fName">
            <br>
            <br>
            Last Name: <input type="text" ng-model="lName">
            <br>
            Body:
            <input type="submit" value="submit" ng-click="userSub()">
            
        </form>
        <table border="0">
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="user in users"ng-class-odd="'odd'" ng-class-even="'even'">
                <td>{{user.userID}}</td>
                <td ><input type="text" ng-model="user.Fname" value={{user.Fname}}></td>
                <td ><input type="text" ng-model="user.Lname" value={{user.Lname}}></td>
                <td><button ng-click="edit(user.userID,user.Fname,user.Lname)">Edit</button></td>
                <td><button ng-click="delete(user.userID)">Delete</button></td>
        </tr>
        </table>
    </body>
</html>