<html ng-app="coffeeApp">
    <head>
        <style>
        table{    border: 1px solid #CCC;
    border-collapse: collapse;}
        td{text-align: center;
        border:none;
        padding: 2px;}
        .odd {
                color:black;
                background-color:mintcream;
                text-align: center;
    
                }
              .even {
                color:black;
                background-color: wheat;
                text-align: center;
              }</style>
        <meta charset="utf-8">
        <title> Users</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css" integrity="sha256-xOpS+e/dER8z72w+qryCieOGysQI8cELAVt3MHG0phY=" crossorigin="anonymous" />
        <script>
            var coffeeApp = angular.module('coffeeApp', []);
            coffeeApp.controller('CoffeeCtrl', function ($scope, $http){
                //get data from database to populate table
                //get recipes
                $http.get("/api/recipes/").then(function mySuccess(response) {
                    $scope.recipes = response.data;
                    }, function myError(response) {
                        $scope.recipes = response.statusText;
                    });
                //get coffe bean ids
                $http.get("/api/beans/").then(function mySuccess(response) {
                $scope.beans = response.data;
                }, function myError(response) {
                    $scope.users = response.statusText;
                });
                //get user ids    
                $http.get("/api/cousers/").then(function mySuccess(response) {
                $scope.users = response.data;
                }, function myError(response) {
                    $scope.users = response.statusText;
                });
                //get the brews
                $http.get("/api/brewtypes/").then(function mySuccess(response) {
                        $scope.brews = response.data;
                        }, function myError(response) {
                            $scope.brews = response.statusText;
                        });    
                //get call to updat table
                $scope.update= function(){
                    $http.get("/api/recipes/").then(function mySuccess(response) {
                    $scope.recipes = response.data;
                    }, function myError(response) {
                        $scope.recipes = response.statusText;
                    });  
                 
                };
                //create new user
                $scope.recipeNew = function(){
                    var data =JSON.stringify({
                            userID: $scope.userID,
                            coffeeID: $scope.coffeeID,
                            BTypeID: $scope.BTypeID,
                            brewTime: $scope.bTime,
                            CMass: $scope.cMass,
                            WMass: $scope.wMass,
                            WTemp: $scope.wTemp
                            });
                            alert(data);
                console.log(data);
                $http.post("/api/recipes/add",data).success(function(data,status){
                    console.log('recipe added successfully');
                    $scope.update();
                     });
                }
            //update user
            $scope.edit = function(rID,uid,cid,bid,bTime,cMass,wMass,wTemp){
               
                    var data =JSON.stringify({
                            id:rID,
                            userID: uid,
                            coffeeID: cid,
                            BTypeID: bid,
                            brewTime: bTime,
                            CMass: cMass,
                            WMass: wMass,
                            WTemp: wTemp
                            });
                            alert(data);
                            $http.post("/api/recipes/update/"+rID,data).success(function(data,status){
                    console.log('User updated successfully');});
                    $scope.update();
            }
            //delete user
            $scope.delete = function(rID){
                    alert(rID);
                    var data =JSON.stringify({
                            recipeID: rID});
                            $http.post("/api/recipes/del/"+rID,data).success(function(data,status){
                    console.log('User deleted successfully');});
                    $scope.update();
            }
            });
          </script>    
    </head>
    <body ng-controller="CoffeeCtrl">
        <form>
            userID:
            <select ng-model="userID">
                    <option ng-repeat="user in users"  value={{user.userID}}>{{user.userID}}</option>
            </select>
            <br>
            <br>
            CoffeeID:
            <select ng-model="coffeeID">
                    <option ng-repeat="bean in beans"  value={{bean.coffeeID}}>{{bean.coffeeID}}</option>
            </select> 
            <br>
            <br>
            Brew Type ID:
            <select ng-model="BTypeID">
                    <option ng-repeat="brew in brews"  value={{brew.BTypeID}}>{{brew.BTypeID}}</option>
            </select> 
            <br>
            <br>
            BrewTime: <input type="text" ng-model="bTime">
            <br>
            <br>
            Coffee Mass: <input type="text" ng-model="cMass">
            <br>
            <br>
            Water Mass: <input type="text" ng-model="wMass">
            <br>
            <br>
            Water Temperature: <input type="text" ng-model="wTemp">
            <br>
            Body:
            <input type="submit" value="submit" ng-click="recipeNew()">
            
        </form>
        <div class="container-fluid">
            <div class="row">
        <table border="0">
            <tr>
                <th>RecipeID</th>
                <th>UserID</th>
                <th>CoffeeID</th>
                <th>BTypeID</th>
                <th>BrewTime</th>
                <th>Cmass</th>
                <th>WMass</th>
                <th>Wtemp</th>
            </tr>
            <tr ng-repeat="recipe in recipes"ng-class-odd="'odd'" ng-class-even="'even'">
                <td>{{recipe.recipeID}}</td>
                <td ><input type="text" ng-model="recipe.userID" value={{recipe.userID}}></td>
                <td ><input type="text" ng-model="recipe.coffeeID" value={{recipe.coffeeID}}></td>
                <td ><input type="text" ng-model="recipe.BTypeID" value={{recipe.BTypeID}}></td>
                <td ><input type="text" ng-model="recipe.brewTime" value={{recipe.brewTime}}></td>
                <td ><input type="text" ng-model="recipe.CMass" value={{recipe.CMass}}></td>
                <td ><input type="text" ng-model="recipe.WMass" value={{recipe.WMass}}></td>
                <td ><input type="text" ng-model="recipe.WTemp" value={{recipe.WTemp}}></td>
                <td><button ng-click="edit(recipe.recipeID,recipe.userID,recipe.coffeeID,recipe.BTypeID,recipe.brewTime,recipe.CMass,recipe.WMass,recipe.WTemp)">Edit</button></td>
                <td><button ng-click="delete(recipe.recipeID)">Delete</button></td>
        </tr>
        </table>
        </div>
        </div>
    </body>
</html>